In [1]:
# Q1 In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
#   *            : Expression
#  'hello'      : Value 
#  -87.8        : Value 
#  -            : Expression
#  /            : Expression
#  6            : Value

In [2]:
# Q2 What is the difference between string and variable

In [3]:
# string is usually conains words and which are enclosed in "". eg."hello"
# variable which can store a values

In [4]:
# Q3  Describe three different data types

# int = integer datatype is used to represent the integer values 

# float = it represent the real numbers 

# boolean = it contains only True and Flase values

# string = it is used to represent the sequence of characters.

In [5]:
# Q4

In [6]:
# Q5 This assignment statements, like spam = 10. What is the difference between an expression and a statement?


# Assignment statement : It is the statement where some value or expression is assigned to a variable or constant.
# Difference : The difference is that expression itself is assigned to a variable or constant.

In [7]:
# Q6 After running the following code, what does the variable bacon contain?

bacon = 22
bacon +1

23

In [10]:
# Q7 What should the values of the following two terms be?

'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

In [12]:
# Q8 Why is eggs a valid variable name while 100 is invalid

#  Because the variable declartion in python is that the variable name must start with a alphabate or underscore '_'

In [13]:
#Q9  What three functions can be used to get the integer, floating-point number, or string version of a value?

In [14]:
int(2133.323)

2133

In [15]:
float(231)

231.0

In [16]:
str(32)

'32'

In [17]:
str(343+7j)

'(343+7j)'

In [19]:
# Q7 Why does this expression cause an error? How can you fix it
#  'I have eaten ' + 99 + ' burritos'.

In [20]:
'i have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

In [23]:
'i have eaten ' + '99' + ' burritos'

'i have eaten 99 burritos'